*,
*::before,
*::after {
  box-sizing: border-box;
}

/* body */

body {
  font-family: 'Roboto', sans-serif;
  background-color: #ffffff;
  color: #434455;
  font-size: 16px;
}

img {
  display: block;
}

.link {
  text-decoration: none;
}

.list {
  list-style-type: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul {
  margin: 0;
  padding: 0;
}

section {
  padding-top: 120px;
  padding-bottom: 120px;
}

button {
  cursor: pointer;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.container {
  max-width: 1158px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
}

/* header */

.header-nav-logo-blue {
  color: #4d5ae5;
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  margin-right: 76px;
  display: inline-block;
}

.header-nav-logo-black {
  color: #2e2f42;
}

.header-nav-list-item {
  color: #2e2f42;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  display: flex;
  padding: 24px 0;
}

.header-nav-list-item:hover,
.header-nav-list-item:focus {
  color: #404bbf;
}

.header-contacts {
  font-style: normal;
  margin-left: auto;
}

.header-contacts-link {
  color: #434455;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.32px;
  display: flex;
  padding: 24px 0;
}

.header-contacts-item:hover,
.header-contacts-item:focus {
  color: #404bbf;
}

.header-contacts-link:hover,
.header-contacts-link:focus {
  color: #404bbf;
}

.header {
  border-bottom: 1px solid #e7e9fc;
}

.header-container {
  display: flex;
  align-items: center;
  width: 1158px;
  margin: 0 auto;
  padding: 0 15px;
}

.header-nav {
  display: flex;
  align-items: center;
}

.header-nav-list {
  display: flex;
  gap: 40px;
}

.header-contacts-list {
  display: flex;
  gap: 40px;
}

/* section 1 hero */

.hero {
  background-color: #2e2f42;
  padding-top: 188px;
  padding-bottom: 188px;
}

.hero-title {
  font-size: 56px;
  line-height: 1.07;
  letter-spacing: 0.02em;
  color: #ffffff;
  max-width: 496px;
  margin: 0 auto 48px;
  text-align: center;
}

.button-hero {
  display: block;
  margin: 0 auto;
  min-width: 169px;
  height: 56px;
  border: none;
  border-radius: 4px;
  background-color: #4d5ae5;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #ffffff;
}
.button-hero:hover,
.button-hero:focus {
  background-color: #404bbf;
}

/* section 2 */

.company-list {
  display: flex;
  gap: 24px;
}

.company-item {
  width: calc((100% - 72px) / 4);
}

.company-title {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
  margin-bottom: 8px;
}

.company-text {
  line-height: 1.5;
  letter-spacing: 0.02em;
}

/* section 3 */

.team {
  background-color: #f4f4fd;
}

.team-list {
  display: flex;
  gap: 24px;
}

.team-list-item {
  background-color: #ffffff;
  width: calc((100% - 72px) / 4);
  border-radius: 0px 0px 4px 4px;
}

.team-wrapper {
  padding-top: 32px;
  padding-bottom: 32px;
}

.team-title {
  font-size: 20px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: #2e2f42;
  margin-bottom: 8px;
}

.team-text {
  line-height: 1.5;
  letter-spacing: 0.02em;
  text-align: center;
}

/* section 4 */

.portfolio {
}

.porfolio-item {
  width: calc((100% - 48px) / 3);
}

.portfolio-list {
  background-color: #ffffff;
  display: flex;
  flex-wrap: wrap;
  column-gap: 24px;
  row-gap: 48px;
}

.porfolio-title-item {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
  margin-bottom: 8px;
}

.portfolio-list-text {
  line-height: 1.5;
  letter-spacing: 0.02em;
}

.portfolio-wrapper {
  padding: 32px 16px;
  border: 1px solid #e7e9fc;
  border-top: none;
}

/* footer */

.footer {
  background-color: #2e2f42;
  padding: 100px 0;
}

.footer-nav-logo-blue {
  color: #4d5ae5;
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  display: inline-block;
  margin-bottom: 16px;
}

.footer-nav-logo-black {
  color: #f4f4fd;
}

.footer-text {
  line-height: 1.5;
  color: #f4f4fd;
  letter-spacing: 0.02em;
  width: 264px;
}
